<div class="main-panel overflow-hidden">
  <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-primary">
                <h4 class="card-title ">Listagem de Colaboradores</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <th>
                        ID
                      </th>
                      <th>
                        Nome
                      </th>
                      <th>
                        E-Mail
                      </th>
                      <!--th>
                        Nível de Acesso
                      </th-->
                      <!--th>
                        Criado em
                      </th>
                      <!th>
                        Últ. atualização
                      </th-->
                      <th>
                        Ações
                      </th>
                    </thead>
                    <tbody>
                      <% @colaboradores.each do |colaborador|%>
                        <tr>
                          <td class="text-primary">
                            <%= colaborador.id %>
                          </td>
                          <td>
                            <%= colaborador.nome %>
                          </td>
                          <td>
                            <%= colaborador.email %>
                          </td>
                          <td>
                            <div class="row">
                              <%= link_to usuario_path(colaborador.id) do%>
                                <i class="material-icons text-primary">info_outlined</i>
                              <% end %>
                               <%= button_to colaborador_path(colaborador.id), class: "invisible-button", method: :delete, local: true do %>
                                  <i class="material-icons text-primary">remove_circle_outlined</i>
                                <% end %>
                            </div>
                          </td>
                          <!--/td>
                            <%= colaborador.tipo_perfil %>
                          </td-->
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                  <div class="d-flex justify-content-center">
                    <%= link_to cadastrar_colaborador_path do %>
                      <i class="material-icons">add_circle_outline</i>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
</div>