<div class="main-panel">
  <div class="content">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title"><%= "#{@usuario.nome}"%></h4>
          <p class="card-category"><%= "Cód.: #{@usuario.id}"%></p>
        </div>
        <div class="card-body">
            <div class="info">
                <h3>Informações disponíveis</h3>
                <h5><%= @usuario.email %></h5>
                <h5><%= "Nível de acesso: #{@usuario.tipo_perfil.capitalize}" %></h5>
            </div>
          <%= link_to "Voltar", usuarios_path, class: "btn btn-primary pull-right" %>
        </div>
      </div>
    </div>
  </div>
</div>