<div class="main-panel overflow-hidden">
  <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-primary">
                <h4 class="card-title ">Histórico de Movimentações</h4>
                <p class="card-category">Obs.: Deletar uma movimentação do Histórico não altera a disponibilidade do produto</p>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <th>
                        ID
                      </th>
                      <th>
                        Tipo
                      </th>
                      <th>
                        Produto
                      </th>
                      <th>
                        Quantidade (em unidades)
                      </th>
                      <th>
                        Criado em
                      </th>
                      <!--th>
                        Últ. atualização
                      </th-->
                      <th>
                        Ações
                      </th>
                    </thead>
                    <tbody>
                      <% @movimentacoes.each do |movimentacao|%>
                        <tr>
                          <td class="text-primary">
                            <%= movimentacao.id %>
                          </td>
                          <td>
                            <%= movimentacao.tipo.capitalize %>
                          </td>
                          <td>
                            <%= movimentacao.produto.nome.capitalize %>
                          </td>
                          <td>
                            <%= movimentacao.quantidade %>
                          </td>
                          <td>
                            <%= movimentacao.created_at %>
                          </td>
                          <td>
                            <div class="row">
                              <%= link_to movimentacao_path(movimentacao.id) do%>
                                <i class="material-icons text-primary">info_outlined</i>
                              <% end %>
                              <%= button_to movimentacao_path(movimentacao.id), class: "invisible-button", method: :delete, local: true do %>
                                <i class="material-icons text-primary">remove_circle_outlined</i>
                              <% end %>
                            </div>
                          </td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                  <div class="d-flex justify-content-center">
                    <a href="movimentacoes/new"><i class="material-icons">add_circle_outline</i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
</div>